# Executables (i.e. with no extension) in "examples" directory
/examples/*
!/examples/*.*

*.sw?
*.o
core
bluez-tools/
prog

Makefile
*.so.*
*.so
*.pc
*.a
*.d
config.log
config.status
autom4te.cache
.deps
/tests/*.result*
/tests/*.test
/tests/results

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
